<mat-card class="chart-card">
  <mat-card-header class="d-flex justify-content-between">
    <form class="container" [formGroup]="options" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Select a Time Frame</mat-label>
        <mat-select formControlName="timeFrame">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let timeFrames of availableTimeFrames" [value]="timeFrames">{{timeFrames}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Select a Market Pair</mat-label>
        <mat-select formControlName="marketPair">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let marketPair of availableMarketPairs" [value]="marketPair">{{marketPair}}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <mat-form-field appearance="fill">
        <mat-label>Select Amount of Candles</mat-label>
        <mat-select formControlName="limit">
          <mat-option>---</mat-option>
          <mat-option *ngFor="let limitOption of availableLimit" [value]="limitOption">{{limitOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="submitButton" type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-card-header>
  <mat-card-content *ngIf="isReady">
    <app-candlestick-chart [marketPair]="options.value.marketPair" [interval]="options.value.timeFrame"
      [limit]="options.value.limit" (candleStickReadyEvent)="candleStickReady($event)"></app-candlestick-chart>
    <app-rsi-chart></app-rsi-chart>
  </mat-card-content>
</mat-card>
