<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Timothy Mendez Feliciano</h2>
      <h4>timothy.mendez@upr.edu</h4>
      <img class="img-profile" src="../../../assets/images/Foto Profesional.jpeg" alt="Timothy Mendez">
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/news">News</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
  <mat-divider></mat-divider>
  <h2 matSubheader>Links</h2>
  <a mat-list-item href="https://github.com/TimothyMendezFeliciano?tab=repositories">Github</a>
</mat-nav-list>
