.thumbnail {
  border: 1px solid #c2175b;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 325px;
}

.thumbnail:hover {
  box-shadow: 0 0 3px 6px #1dc217;
}

.mat-divider {
  border-top-color: #c2175b;
}

a {
  color: #0060b6;
  text-decoration: none !important;
}

a:hover,
a:focus,
a:active {
  color: #00a0c6;
  text-decoration: none !important;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 20px);
}

.mat-spinner {
  width: 240px;
  height: 240px;
  margin: 5px 10px 0px 0px;
  padding: 12px;
}

.mat-toolbar {
  background-color: rgb(169, 23, 194);
  border-radius: 4px;
  padding-left: 15px;
}

.submitButton {
  margin: 8px;
  border: 2px;
  border-radius: 3px;
}

.container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
